@page
@model RazorPages.Pages.AdminPage.DetailsModel

@{
    ViewData["Title"] = "Details";
    int roleId = int.Parse(HttpContext.Session.GetString("roleId"));
    if (roleId != 1)
    {
        Response.Redirect("../Permission");
    }
}

<h1>Details</h1>

<div>
    <h4>KoiProfile</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiProfile.Koi_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiProfile.Koi_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiProfile.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiProfile.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiProfile.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiProfile.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiProfile.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiProfile.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiProfile.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiProfile.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiProfile.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiProfile.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiProfile.Create_At)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiProfile.Create_At)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiProfile.Update_At)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiProfile.Update_At)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiProfile.Rating_Average_Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiProfile.Rating_Average_Value)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiProfile.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiProfile.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiProfile.Farm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiProfile.Farm.Farm_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiProfile.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiProfile.Type.Type_Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.KoiProfile?.Koi_Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
<style>
    footer {
        display: none;
    }
</style>
